<body data-spy="scroll" data-target=".navbar" data-offset="50">
			<nav class="barra1">
				<hgroup>
					<h1 id="titlep">Pago en línea de Factura Inteligente</h1>
				</hgroup>
			</nav>
		<section id="section1">
			<article>
				<div class="col-md-12 center-block text-center sec1" >
				<i class="fa fa-shopping-cart fa-5x nigger"></i>
				<hgroup>
					<h1  class="animated bounceInLeft nigger">Realiza la compra de nuestros productos y servicios.</h1>
					<h4 class="nigger">En 3 sencillos pasos y en menos de 5 minutos.</h4>
					<h3 class="animated bounceInRight retraso-1 nigger"><span class="badge">1</span> Elige tu producto</h3>
					<h3 class="animated bounceInRight retraso-2 nigger"><span class="badge">2</span> Registra tus datos</h3>
					<h3 class="animated bounceInRight retraso-3 nigger"><span class="badge">3</span> Forma de pago</h3>
				</hgroup>
				<br>
				<a href="#section2" class="btn btn-primary animated flash retraso-4">¡Vamos!</a>
			</div>
			</article>			
		</section>
		<section id="section2">
			<div id="productos" class="container-fluid">
				<h3><span class="badge">1/2</span> Elige tu producto y el paquete que se adecue a tu consumo.</h3>
				<h6>Recuerda que cada paquete tiene vigencia de un año.</h6>
				<div class="row">
					<div class="col-md-4">
						<div class="caja1">
							<i class="fa fa-file-pdf-o fa-4x"></i>
							<h3>Créditos</h3>
							<div class="btn-group">
							  <a href="#" class="btn btn-default">Paquete:</a>
							  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
							  <ul class="dropdown-menu">
							    <li><a href="#">Action</a></li>
							    <li><a href="#">Another action</a></li>
							    <li><a href="#">Something else here</a></li>
							    <li class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							  </ul>
							</div>						
						</div>
					</div>
					<div class="col-md-4">
						<div class="caja1">
							<i class="fa fa-code fa-4x"></i>
							<h3>Timbrado</h3>
							<div class="btn-group">
							  <a href="#" class="btn btn-default">Paquete:</a>
							  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
							  <ul class="dropdown-menu">
							    <li><a href="#">Action</a></li>
							    <li><a href="#">Another action</a></li>
							    <li><a href="#">Something else here</a></li>
							    <li class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="caja1">
							<i class="fa fa-file-code-o fa-4x"></i>
							<h3>Conexión Remota</h3>
							<div class="btn-group">
							  <a href="#" class="btn btn-default">Paquete:</a>
							  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
							  <ul class="dropdown-menu">
							    <li><a href="#">Action</a></li>
							    <li><a href="#">Another action</a></li>
							    <li><a href="#">Something else here</a></li>
							    <li class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							  </ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="caja1">
							<i class="fa fa-line-chart fa-4x"></i>
							<h3>Sistema Inteligente Contable</h3>
							<div class="btn-group">
							  <a href="#" class="btn btn-default">Paquete:</a>
							  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
							  <ul class="dropdown-menu">
							    <li><a href="#">Action</a></li>
							    <li><a href="#">Another action</a></li>
							    <li><a href="#">Something else here</a></li>
							    <li class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="caja1">
							<i class="fa fa-bar-chart-o fa-4x"></i>
							<h3>Convertidor de XML</h3>
							<div class="btn-group">
							  <a href="#" class="btn btn-default">Paquete:</a>
							  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
							  <ul class="dropdown-menu">
							    <li><a href="#">Action</a></li>
							    <li><a href="#">Another action</a></li>
							    <li><a href="#">Something else here</a></li>
							    <li class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="caja1">
							<i class="fa fa-envelope-square fa-4x"></i>
							<h3>Buzón validador</h3>
							<div class="btn-group">
							  <a href="#" class="btn btn-default">Paquete:</a>
							  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
							  <ul class="dropdown-menu">
							    <li><a href="#">Action</a></li>
							    <li><a href="#">Another action</a></li>
							    <li><a href="#">Something else here</a></li>
							    <li class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							  </ul>
							</div>
						</div>
					</div>
				</div>		
				<a href="#section3" class="btn btn-default pabajo" title="Siguiente"><i class="fa fa-arrow-circle-o-down fa-lg"></i></a>	
			</div>			
		</section>
		<section id="section3">
			<div class="container-fluid">
			<div class="center-block text-center">
					<h2 class="letracrema"><span class="badge">2/3</span> Por favor complete el registro con sus datos</h2>
					<h6 class="letracrema">Para poder asignar su producto adquirido</h6>
				</div>	
				<div class="row">
					<div class="col-sm-4">
						<form action="" class="form-horizontal">							
							<label for="focusedInput" class="control-label">RFC</label>							
							<div class="input-group margin-bottom-sm">							
  								<span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
  							<input class="form-control formz" type="text" placeholder="XAXX010101000">
							</div>
							<label for="focusedInput" class="control-label">Confirmar RFC</label>							
							<div class="input-group margin-bottom-sm">							
  								<span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
  							<input class="form-control formz" type="text" placeholder="XAXX010101000">
							</div>						
						</form>						
					</div>
					<div class="col-sm-4">
						<form action="" class="form-horizontal">							
							<label for="focusedInput" class="control-label">Nombre o razón social</label>							
							<div class="input-group margin-bottom-sm">							
  								<span class="input-group-addon"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i></span>
  							<input class="form-control formz" type="text" placeholder="Nombre Apellido">
							</div>
							<label for="focusedInput" class="control-label">Correo Electrónico</label>							
							<div class="input-group margin-bottom-sm">							
  								<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
  							<input class="form-control formz" type="text" placeholder="ejemplo@micorreo.com">
							</div>			
						</form>
					</div>
					<div class="col-sm-4">
						<form action="" class="form-horizontal">							
							
							<label for="focusedInput" class="control-label">clave de distribuidor</label>							
							<div class="input-group margin-bottom-sm">							
  								<span class="input-group-addon"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i></span>
  							<input class="form-control formz" type="text" placeholder="FI-D000000">  							
							</div>
							<p class="text-danger"><br>*Clave FI llenar sólo si recibió atención por parte de uno de nuestros distribuidores autorizados.</p>				
						</form>						
					</div>					
				</div>
				<div class="center-block text-center">
					<a href="#section4" class="btn btn-default pabajo" title="Siguiente"><i class="fa fa-arrow-circle-o-down fa-lg"></i></a>
				</div>				
			</div>
		</section>
		<section id="section4">
			<div class="section4">
				<div class="center-block text-center">
					<h2><span class="badge">3/3</span> Elije tu forma de pago</h2>
				</div>				
				<ul class="nav nav-tabs">
				  <li class="btn"><a href="#pago1" data-toggle="tab" aria-expanded="false" class="buton1"><i class="fa fa-paypal fa-2x"></i> Paypal </a></li>
				  <li class="btn active"><a href="#pago2" data-toggle="tab" aria-expanded="true" class="buton2"><i class="fa fa-ticket fa-2x"></i> Depósito referenciado</a></li>		 
				  <li class="btn dropdown">
				    <a class="dropdown-toggle buton3" data-toggle="dropdown" href="#" aria-expanded="false">
				      <i class="fa fa-credit-card fa-2x"></i> Tarjeta <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="#pago3a" data-toggle="tab">Crédito</a></li>
				      <li class="divider"></li>
				      <li><a href="#pago3b" data-toggle="tab">Débito</a></li>
				    </ul>
				  </li>
				  <li class="btn"><a href="#pago4" data-toggle="tab" aria-expanded="false" class="buton4"> <i class="fa fa-mobile fa-2x"></i> Transferencia interbancaria</a></li>				
				  <li class="btn"><a href="#pago5" data-toggle="tab" aria-expanded="false" class="buton5"><i class="fa fa-money fa-2x"></i> OXXO</a></li>
				  <li class="btn"><a href="#pago6" data-toggle="tab" aria-expanded="false" class="buton6"><i class="fa fa-cc-mastercard fa-2x"></i> Meses sin intereses*</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
				  <div class="tab-pane fade" id="pago1">
				    <p class="pagos">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				    <hr>
				    <div class="cajapic">
				    	<i class="fa fa-cc-paypal fa-4x negro"></i>	
				    </div>				    			    
				  </div>
				  <div class="tab-pane fade active in" id="pago2">
				  	<article>
				  	<div class="pagos">
				  		<p>Para utilizar éste método de pago, siga las instrucciones: </p>
				    <ol>
				    	<li>Usted recibirá un correo electrónico con los datos necesarios para realizar el pago de su compra.</li>
				    	<li>Al momento de realizar el depósito referenciado en la ventanilla asegúrese de que el cajero anote el número de referencia de pago, pues será el móvil de identificación.<br>
				    	<strong>*El número de referencia es generado automáticamente en cada producto por compra, no reutilizarlo.</strong><br>
				    	<span class="text-danger">Enviar la captura de la imagen de su comprobante de pago al correo <strong>activaciones@facturainteligente.com</strong></span></li>
						<li>Una vez realizado el depósito, su cuenta se activará automáticamente en un tiempo máximo de 24 hrs. Usted recibirá un correo electrónico de confirmación con los pasos para completar su registro en línea.</li>
				    </ol>
				  	</div>				  	
				  	</article>				    
				    <div class="cajapic">
				    	<img src="images/ref.png" alt="Referencia" class="img-responsive">
				    </div>				   
				  </div>
				  <div class="tab-pane fade" id="pago3a">
				    <p class="pagos">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
				    <div class="cajapic">
				    	<img src="images/tcredito.png" alt="Crédito" class="img-responsive">
				    </div>				  	
				  </div>

				  <div class="tab-pane fade" id="pago3b">
				    <p class="pagos">Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
				    <div class="cajapic">
				    	<img src="images/tdebito.png" alt="Débito" class="img-responsive">
				    </div>				  	
				  </div>
				  <div class="tab-pane fade" id="pago4">
				    <p class="pagos">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>				    
				    <div class="cajapic">
				    	<img src="images/transfer.png" alt="transfer" class="img-responsive">	
				    </div>				  	
				  </div>
				  <div class="tab-pane fade" id="pago5">
				    <p class="pagos">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
				    <div class="cajapic">
				    	<img src="images/efectivo.png" alt="oxxo" class="img-responsive">
				    </div>				    
				  </div>
				  <div class="tab-pane fade" id="pago6">
				    <p class="pagos">
				    * Meses Sin Intereses para tarjetas VISA y MasterCard está disponible para pagos parciales en 3, 6 y 12 mensualidades<br>
					* Las tarjetas American Express permiten pagos parciales en 3, 6, 9 y 12 mensualidades.</p>
				    <div class="cajapic">
				    	<img src="images/meses.png" alt="meses" class="img-responsive">
				    </div>				    
				  </div>				  
				</div>
			</div>			
		</section>
		<footer>
			<div id="footer" class="center-block text-center">
				<hgroup>
					<h3 class="courgette" id="foot">Continua realizando negocios de éxito con Factura Inteligente.</h3>	
					<h4 class="letracrema" title="LLamanos">01 800 288 1000 <i class="fa fa-commenting"></i></h4>
				</hgroup>
				<ul style="list-style-type: none">
					<li><strong>Opción 1</strong> Ventas</li>
					<li><strong>Opción 2</strong> Soporte técnico y activaciones</li>
					<li><strong>Extención: 8005, 8009</strong> Atención a distribuidores</li>
				</ul>
				<img src="images/giiff.gif" alt="responsive gif" class="img-circle" width="180px" height="150px;">
			</div>			
		</footer>
</body>
</html>